# This is a basic workflow to help you get started with Actions
name: gatsby deploy

# Controls when the workflow will run
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: checkout code
        uses: actions/checkout@v2
        
      - name: setup node
        uses: actions/setup-node@v2.5.0
        with:
          node-version: 'v14.15.4'
        
      - name: install packages
        run: yarn install
        
      - name: build
        run: yarn build
        env:
          GH_API_KEY: ${{ secrets.API_KEY }}
        
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_DIR: ./public
          
        
